.container {
  margin: 20px;
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

h1 {
  text-align: center;
  margin: 30px;
}

.form {
  width: 1000px;
 
}

.add-food-container {
  display: flex;
  justify-content: center;
 
}